<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.telan.werewolf.mapper.GameDOMapper" >
  <resultMap id="BaseResultMap" type="com.telan.werewolf.domain.GameDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="player_num" property="playerNum" jdbcType="INTEGER" />
    <result column="has_judge" property="hasJudge" jdbcType="INTEGER" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, creator_id, status, result, player_num, has_judge, gmt_modified, gmt_created
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
    select 
    <include refid="Base_Column_List" />
    from game
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="long" >
    delete from game
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.telan.werewolf.domain.GameDO" useGeneratedKeys="true" keyProperty="id" >
    insert into game (type, creator_id, status, result,
      player_num, has_judge, gmt_modified, 
      gmt_created)
    values (#{type,jdbcType=INTEGER}, #{creatorId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{result,jdbcType=INTEGER},
      #{playerNum,jdbcType=INTEGER}, #{hasJudge,jdbcType=INTEGER}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{gmtCreated,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.telan.werewolf.domain.GameDO" >
    update game
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=INTEGER},
      </if>
      <if test="playerNum != null" >
        player_num = #{playerNum,jdbcType=INTEGER},
      </if>
      <if test="hasJudge != null" >
        has_judge = #{hasJudge,jdbcType=INTEGER},
      </if>
        gmt_modified = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="pageQuery" parameterType="com.telan.werewolf.query.GamePageQuery" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM game
    <include refid="querySqlString" />
    <if test="needPageQuery" >
      limit #{startRow},#{pageSize}
    </if>
    order by gmt_modified desc
  </select>
  <select id="queryCount" parameterType="com.telan.werewolf.query.GamePageQuery" resultType="int">
    SELECT
    COUNT(*)
    FROM game
    <include refid="querySqlString" />
  </select>
  <sql id="querySqlString">
    <where>
      <if test="statusList != null and statusList.size() > 0">
        and status in
        <foreach close=")" collection="statusList" index="index" item="status" open="(" separator=",">
          #{status}
        </foreach>
      </if>
      <if test="result != null">
        and
        result = #{result}
      </if>
      <if test="type != null">
        and
        type = #{type}
      </if>
      <if test="ids != null and ids.size() > 0">
        and id in
        <foreach close=")" collection="ids" index="index" item="item" open="(" separator=",">
          #{item}
        </foreach>
      </if>
      <if test="creatorId != null">
        and
        creator_id = #{creatorId}
      </if>
    </where>
  </sql>
</mapper>