<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyweekend.weixincenter.mapper.templates.WxTemplatesMapper" >
  <resultMap id="BaseResultMap" type="com.telan.weixincenter.domain.templates.WxTemplatesDO" >
		<id column="template_id" property="templateId" jdbcType="BIGINT"/>
		<result column="wx_merchant_id" property="wxMerchantId"/>
		<result column="tipstype" property="tipstype"/>
		<result column="tipstitle" property="tipstitle"/>
		<result column="tempid" property="tempid"/>
		<result column="hreftype" property="hreftype"/>
		<result column="customlink" property="customlink"/>
		<result column="paymentTipsCon" property="paymentTipsCon"/>
		<result column="status" property="status"/>
		<result column="gmt_created" property="gmtCreated"/>
		<result column="gmt_modified" property="gmtModified"/>
	</resultMap>  
  <!-- 查询模板信息 -->       
	<select id="queryWxTemplatesByMerchantId" parameterType="long" resultMap="BaseResultMap">
		select * from wx_templates where wx_merchant_id=#{wxMerchantId} 
	</select>
	
	<!-- 查询模板信息  根据启用的状态 -->
	<select id="queryWxTemplatesByMerchantIdAndStatus" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select * from wx_templates where wx_merchant_id=#{wxMerchantId} and status =1
	</select>
	<!-- 查询模板信息 -->   
	
	<!-- 查询模板信息 -->
	<select id="queryWxTemplatesByTemplatesIdAndMerchantId"  resultType="com.telan.weixincenter.domain.templates.WxTemplatesDO">
		select * from wx_templates where template_id=#{templateId} and wx_merchant_id=#{wxMerchantId}
	</select>
	    
	 <!-- 查询模板信息是否存在 -->
	<select id="queryExitByTempId"  resultMap="BaseResultMap">
		select * from wx_templates where tempid=#{tempid} and wx_merchant_id=#{wxMerchantId}
	</select>
	 
	 
	<!-- 添加模板信息 -->
	<insert id="templateAdd" parameterType="com.telan.weixincenter.domain.templates.WxTemplatesDO">
	<!-- 返回主键 -->  
		<selectKey resultType="long" order="AFTER" keyProperty="templateId">
		SELECT LAST_INSERT_ID()
		</selectKey>
		insert into wx_templates 
		<set>
		    <if test="wxMerchantId !=null">
				wx_merchant_id=#{wxMerchantId},
			</if>
			<if test="tipstype !=null">
				tipstype=#{tipstype},
			</if>
			<if test="tipstitle !=null">
				tipstitle=#{tipstitle},
			</if>
			<if test="tempid !=null">
				tempid=#{tempid},
			</if>
			<if test="hreftype !=null">
				hreftype=#{hreftype},
			</if>
			<if test="customlink !=null">
				customlink=#{customlink},
			</if>
			<if test="paymentTipsCon !=null">
				paymentTipsCon=#{paymentTipsCon},
			</if>
			<if test="status !=null">
				status=#{status},
			</if>
			 
			gmt_created = now(),
			gmt_modified = now()
		</set> 
		
	</insert>
	 
	<!-- 修改信息 -->
	<update id="updateWxTemplates" parameterType="com.telan.weixincenter.domain.templates.WxTemplatesDO">
		update wx_templates
		<set>
		   <if test="wxMerchantId !=null">
				wx_merchant_id=#{wxMerchantId},
			</if>
			<if test="tipstype !=null">
				tipstype=#{tipstype},
			</if>
			<if test="tipstitle !=null">
				tipstitle=#{tipstitle},
			</if>
			<if test="tempid !=null">
				tempid=#{tempid},
			</if>
			<if test="hreftype !=null">
				hreftype=#{hreftype},
			</if>
			<if test="customlink !=null">
				customlink=#{customlink},
			</if>
			<if test="paymentTipsCon !=null">
				paymentTipsCon=#{paymentTipsCon},
			</if>
			<if test="status !=null">
				status=#{status},
			</if>
			gmt_modified=now()
		</set> 
		where template_id=#{templateId}
	</update>
	<!-- 删除模板基本信息 -->
	<delete id="delWxTemplatesByTemplateId" >
		delete from wx_templates where template_id=#{templateId} and wx_merchant_id=#{wxMerchantId}
	</delete>
	
	
	<!-- 查询模板设置信息 -->
	<resultMap type="com.telan.weixincenter.domain.templates.WxTemplatesItemDO" id="wxTemplatesItemList">
		<id column="template_item_id" property="templateItemId"/>
		<result column="template_id" property="templateId"/>
		<result column="wx_merchant_id" property="wxMerchantId"/>
		<result column="field_name" property="fieldName"/>
		<result column="field_value" property="fieldValue"/>
		<result column="field_color" property="fieldColor"/>
		<result column="inserttime" property="inserttime"/>
	</resultMap>
	<select id="queryWxTemplatesItemByTemplateId"  resultMap="wxTemplatesItemList">
		select * from wx_templates_item where template_id=#{templateId} and wx_merchant_id=#{wxMerchantId}
	</select>
	<!-- 添加设置信息 -->
	<insert id="addWxTemplatesItem" parameterType="com.telan.weixincenter.domain.templates.WxTemplatesItemDO">
		insert into wx_templates_item 
		<set>
		    <if test="templateId !=null">
				template_id=#{templateId},
			</if>
			<if test="wxMerchantId !=null">
				wx_merchant_id=#{wxMerchantId},
			</if>
			<if test="fieldName !=null">
				field_name=#{fieldName},
			</if>
			<if test="fieldValue !=null">
				field_value=#{fieldValue},
			</if>
			<if test="fieldColor !=null">
				field_color=#{fieldColor},
			</if>
			gmt_created = now(),
			gmt_modified = now()
		</set> 
	</insert>
	<!-- 删除信息 -->
	<delete id="delWxTemplatesItemByTemplateId" >
		delete from wx_templates_item where template_id=#{templateId} and wx_merchant_id=#{wxMerchantId}
	</delete>
	
	<!-- 更新所有的模板信息的启用状态为默认的0 -->
	<update id="updateStatuByMerchantTemplateId0" parameterType="int">
		update wx_templates  set status = 0 where template_id=#{templateId}
	</update>
	 
	<update id="updateStatuByMerchantTemplateId1" parameterType="java.lang.Long">
		update wx_templates  set useflag = 1 where template_id=#{templateId}
	</update>
	
	 
	<!-- 修改模板内容项的信息  -->
	<update id="updateWxTemplatesItem" parameterType="com.telan.weixincenter.domain.templates.WxTemplatesItemDO">
		update  wx_templates_item 
		<set>
		     <if test="templateId !=null">
				template_id=#{templateId},
			</if>
			<if test="wxMerchantId !=null">
				wx_merchant_id=#{wxMerchantId},
			</if>
			<if test="fieldName !=null">
				field_name=#{fieldName},
			</if>
			<if test="fieldValue !=null">
				field_value=#{fieldValue},
			</if>
			<if test="fieldColor !=null">
				field_color=#{fieldColor},
			</if>
		</set> 
		where template_item_id = #{templateItemId}
	</update>
	 
	 
	 
	 
	 <!-- 查询历史信息 -->
	<resultMap type="com.telan.weixincenter.domain.templates.WxTemplatesHistoryDO" id="wxTemplatesHistoryList">
		<id column="mass_history_id" property="massHistoryId"/>
		<result column="wx_merchant_id" property="wxMerchantId"/>
		<result column="templatename" property="templatename"/>
		<result column="sendtotals" property="sendtotals"/>
		<result column="arrivedtotals" property="arrivedtotals"/>
		<result column="templateid" property="templateid"/>
		<result column="failemsg" property="failemsg"/>
		<result column="inserttime" property="inserttime"/>
	</resultMap>
	<select id="queryWxTemplatesHistoryByMerchantId" parameterType="int" resultMap="wxTemplatesHistoryList">
		select * from wx_templates_history where  wx_merchant_id=#{wxMerchantId} order by gmt_created desc
	</select>

	<!-- 添加历史信息 -->
	<insert id="addWxTemplatesHistory" parameterType="com.telan.weixincenter.domain.templates.WxTemplatesHistoryDO">
		insert into wx_templates_history 
		<set>
			<if test="wxMerchantId !=null">
				wx_merchant_id=#{wxMerchantId},
			</if>
			<if test="templatename !=null">
				templatename=#{templatename},
			</if>
			<if test="sendtotals !=null">
				sendtotals=#{sendtotals},
			</if>
			<if test="arrivedtotals !=null">
				arrivedtotals=#{arrivedtotals},
			</if>
			<if test="failemsg !=null">
				failemsg=#{failemsg},
			</if>
			<if test="templateid !=null">
				templateid=#{templateid},
			</if>
			gmt_created = now(),
			gmt_modified = now()
		</set> 
	</insert>
</mapper>